name: Swift Linting

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Swift
              uses: swift-actions/setup-swift@v3
              with:
                swift-version: '6.2.3'
                skip-verify-signature: true

            - name: Verify Swift version
              run: swift --version

            - name: Run SwiftLint
              run: swiftlint lint --strict